html,
body {
	min-height: 100%;
}

body,
div,
form,
input,
select,
p {
	padding: 0;
	margin: 0;
	outline: none;
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	color: black;
}

#parent-info-page {
	width: 100%;
	height: 100%;
}

h1,
h2 {
	/* text-transform: uppercase; */
	font-weight: 400;
}

h2 {
	margin: 0 0 0 0px;
}

h1{
	margin-top: 0px;
}

.header {
	overflow: hidden;
    background-color: #DEE1E3;
    height: 9vh;
    /* width: 100%; */
    position: sticky;
    display: flex;
    padding-left: 5vw;
}

#logo {
    max-width: 13.5vw;
    height: auto;
}

.main-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 25px;
	/* background: #F5F5F5; */
	/* background: #ede9e8; */
	background: #EBECF0;
	overflow-y: hidden;
	/* width: 50%; */
}

.form-title{
	text-align: center;
}

.left-part,
form {
	/* display: inline-block; */
	width: 40%;
	padding: 25px;
	margin: auto;
}

.left-part {
	text-align: center;
	/* color: black; */
}

.fa-graduation-cap {
	font-size: 72px;
}

.fa-money-bill {
	font-size: 72px;
}

.fa-sack-dollar {
	font-size: 72px;
}

.fa-hand-holding-dollar {
	font-size: 72px;
}

.fa-coins {
	font-size: 72px;
}

.fa-money-bill-wave {
	font-size: 72px;
}

form {
	background: rgba(0, 0, 0, 0.7);
	/* background: #DEE1E3; */
	/* background: #ede9e8; */
	/* background: #F5F5F5; */
	background: white;
}

.title {
	display: flex;
	align-items: center;
	/* margin-bottom: 20px; */
	color: rgb(59, 58, 58);
}

.info {
	display: flex;
	flex-direction: column;
}

input,
select {
	padding: 5px;
	margin-bottom: 30px;
	/* background: transparent;
	border: none;
	border-bottom: 1px solid #eee; */
}

input::placeholder {
	/* color: #eee; */
	color: grey;
}

option:focus {
	border: none;
}

option {
	background: black;
	border: none;
}

/* #zipcode{
	margin-bottom: 5px;
} */

.checkbox input {
	margin: 0 10px 0 0;
	vertical-align: middle;
}

.checkbox a {
	color: #26a9e0;
}

.checkbox a:hover {
	color: #85d6de;
}

a:visited{
	text-decoration: none;
	color: black;
}

.btn-item,
button {
	padding: 10px 5px;
	margin-top: 20px;
	border-radius: 5px;
	border: none;
	/* background: #26a9e0; */
	border: 1px solid black;
	text-decoration: none;
	font-size: 15px;
	font-weight: 400;
	/* color: #fff; */
	color: black;
	background-color: white;
}

.btn-item {
	display: inline-block;
	margin: 10px 5px 0;
}

button {
	width: 100%;
}

/* button:hover,
.btn-item:hover {
	background: #85d6de;
} */

@media (min-width: 568px) {

	html,
	body {
		height: 100%;
		overflow: hidden;
	}

	.main-block {
		flex-direction: row;
		height: calc(100% - 100px);
	}

	/* .left-part,
	form {
		flex: 1;
		height: auto;
	} */
}
