<!-- Adapted from: https://www.w3docs.com/learn-html/html-form-templates.html -->
<!DOCTYPE html>
<html>

<head>
  <title>Redemption Page</title>
  <meta charset="utf-8">
  <!--For Mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Vue-->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!--My Vue-->
  <script src="../js/parent-info.js" defer></script>
  <!--My Style-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
    integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/css/parent-info.css">
</head>

<body>
  <div id="parent-info-page">
    <div class="header">
      <img id="logo" src="../static/images/roblox-title-dark.svg">
    </div>
    <div class="main-block">
      <div class="parent-form">
        <form v-on:submit.prevent="submitForm()">
          <div class = "form-title">
            <h3>Parental Consent Form</h3>
          </div>
          <div>
            <p>This form is used for obtaining parental consent from players under 18 years of age. Please enter the information below such thta we can contact your parent or legal gauridan to obtain their consent.</p>
          </div>
          <br>
          <div class="info">
            <label for="fname">Parent or Guardian Name:</label>
            <input class="fname" type="text" name="name" placeholder="FirstName LastName" v-model="form.name">
            <label for="fname">Parent or Guardian Email Address:</label>
            <input type="text" name="text" placeholder="Email Address" v-model="form.emailAddress">
          </div>
          <div class="checkbox">
            <input type="checkbox" name="checkbox"><span>By checking this box, I hereby confirm that all of the above information is correct and I understand that any false reporting may result in legal actions against me.
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              </div>
              <div class="modal-body">
              ...
              </div>
              <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Next</button>
              <button type="button" class="btn btn-primary"><a href="parent-info.html">Submit Form</a></button>
              <!-- <button type="button" class="btn btn-primary">Next</button> -->
          </div>
      </div>
  </div>
</body>

</html>